services:
  postgres:           
    container_name: postgres_url_shortener
    image: postgres:17.5
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      PGDATA: /data/postgres
    volumes:
      - ./postgres-data:/data/postgres 
    ports:
      - "5432:5432"